
h2 {
  color:red; 
  text-align: center;
  font-weight: 100;
  font-style: italic;
  text-decoration: underline;
  font-size: 30px;
}
  /* font-size: 50px; */

  .text {
    font-weight: 900;
    text-transform: uppercase;
  }

 
.chapter {
  color:rgba(255,20,147,1);
}

#begin {
  color:orange;
}


nav {
  position: inherit;
  right:0px;
  top:50px;
  /* bottom:150px; */
  top:50px;
  /* right:0px; */

}

.box {
    position: absolute;
    display:inline-block;
    width: 100px;
    height: 100px;
    background-color: green;
    padding: 20px;
    border: 3px solid black;
    margin: 20px;
    z-index: 3;
}

.examle {
  position: relative;
  /* background-color: gray ;
  height: 700px; */
}

.red {
    position:absolute;
    left:80px;
    background-color:red;
    z-index: 4;

}
